@model IEnumerable<DTS.Models.Project>
@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Heading -->
<div class="card mb-4 wow fadeIn ustNav">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            &nbsp;
            <i class="fas fa-chart-line" style="color:#139747"></i>
            <a href="#" style="color:#139747"> &nbsp; Ürün Takip Sistemi</a>
            <span style="color:#139747"> &nbsp; | &nbsp; </span>
            <a href="#" style="color:#139747">Projeler</a>
        </h4>

        <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input id="search" placeholder="Demirbaş Ara" class="form-control" autocomplete="off"> &nbsp;
        </form>
    </div>
</div>
<!-- Heading -->
<!-- Main Layout Card -->
<div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body" id="printable">

                <!-- Table  -->
                <table class="table table-hover tablom">
                    <!-- Table head -->
                    <thead class="lighten-4">
                        <tr>
                            <th>#</th>
                            <th>DURUM</th>
                            <th>PROJE ADI</th>
                            <th>PROJE KODU</th>
                            <th>MÜŞTERİ</th>
                            <th>PROJE TARİHİ</th>
                            <th>ÜRÜN KAYDI</th>

                            <th id="Ekle" class="not-printable">
                                <button class="btn btn-outline btn-sm my-0 p" style="width:100%; position:center; margin-left: auto; background-color:whitesmoke; color:forestgreen;" onclick="location.href='@Url.Action("Add", "Projects")'">
                                    @*<i class="fas fa-plus"></i>*@
                                    EKLE
                                </button>
                            </th>

                        </tr>
                    </thead>
                    <!-- Table head -->
                    <!-- Table body -->
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {

                            <tr style="font-weight:bold;">
                                <td>
                                    <button class="btn-outline-success" type="button" onclick="location.href='@Url.Action("Products", "Projects", new { id = item.projectCode, projectName = item.projectName })'">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </td>
                                @if (item.projectStatus == "Aktif")
                                {
                                    <td><span class="badge badge-success">@Html.DisplayFor(modelItem => item.projectStatus)</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-danger">@Html.DisplayFor(modelItem => item.projectStatus)</span></td>
                                }

                                <td>@Html.DisplayFor(modelItem => item.projectName)</td>
                                <td>@Html.DisplayFor(modelItem => item.projectCode)</td>
                                <td>@Html.DisplayFor(modelItem => item.projectClient)</td>
                                <td>@Html.DisplayFor(modelItem => item.projectStartDate)</td>
                                <td>@item.ProjectProducts.Where(x => x.projectCode == item.projectCode).Count()</td>

                                @*<td>@Html.DisplayFor(modelItem => item.ProductWarrantyDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ServiceContact)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductFeatures)</td>*@
                                <td id="Btns" class="not-printable">
                                    <button class="btn-outline-success" type="button" onclick="location.href='@Url.Action("Update", "Project", new { id = item.projectCode })'">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn-outline-success btn-sil" data-product-id="@item.projectCode" type="button" data-toggle="modal" data-target="#modalSil" )'">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <!-- Table body -->
                </table>
                <!-- Table  -->
            </div>
        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->
</div>


<!-- Modals -->
<!-- Delete Pop Modals -->
<div class="modal fade" id="modalSil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen; color:white;">
                <h5 class="modal-title" style="margin-left:auto;">Kayıt Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <text id="modaltitle"></text> seri numaralı ürün kaydını silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <form action="~/Projects/DeleteConfirmed" method="post">
                    <input id="id" name="id" type="hidden" />
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">SİL</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İPTAL</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Filtre/Search Butonu Fonksiyonları -> https://www.w3schools.com/jquery/jquery_filters.asp
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    // Silme Butonu Fonksiyonları
    $(".btn-sil").on("click", function () {
        $("#id").val($(this).data("product-id"));
        var gdata = $("#id").val($(this).data("product-id"));
        $("#modaltitle")[0].innerHTML = $(this).data("product-id");
    })
</script>
